{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "mocha": false
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": [2, "always"],
    "no-unused-vars": 1,
    "no-undef": 1,
    "comma-dangle": 0,
    "space-before-function-paren": [2, "never"],
    "no-new": 0
  }
}
