extends ../layouts/default

block variables
  - var pageTitle = 'Faq'
  - var pageDescription = 'Faq страница'
  - var pageKeywords = 'Вёрстка'

block content
  div.Hello
    div.dada
  h1 'Hello Faq'
