extends ../layouts/default.pug

block variables
  - var pageTitle = 'Faq'
  - var pageDescription = 'Faq страница'
  - var pageKeywords = 'Вёрстка'

block content
  div.Hello
    div.dada
      div.dasdas
  h1 'Hello Faq'
