extends ../layouts/default.pug

block variables
  - var pageTitle = 'Главная'
  - var pageDescription = 'Главная страница'
  - var pageKeywords = 'Вёрстка'

block content
  +b.SECTION.intro
    +e.H1.title._red Привет
    +e.A(href="#") Пока
